
/* Estilos para elementos com classe 'imagem-container' */
.titulo {
    margin-top: 10px;
    background-color: var(--color-coffe-colab);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 14%;
}

.titulo img{
    width: 40vw;
    padding-bottom: 9%;
}

.titulo div{
    margin-top: 36%;
    position: absolute;
    background-color: var(--color-light2);
    font-size: 7.5vw;
    text-align: center;
    width: 55vw;
    border-radius: 25px;
}

.sub-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sub-titulo-name{
    width: 40vw;
    border-radius: 15px;
    background-color: var(--color-dark1);
    color: var(--color-light2);
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

.sub-titulo-name h1{
    padding: 2%;
}

/* Estilos para elementos com classe 'slideshow-container' */
.slideshow-container {
    margin-top: 2.5%;
    position: relative;
    max-width: 80vw;
}

/* Estilos para elementos com classe 'slide' */
.slide {
    font-size: 2vw;
    text-align: center;
}

/* Estilos para imagens dentro de elementos com classe 'slide' */
.slide img {
    width: 100%;
    height: 200px;
}

/* Estilos para elementos com classe 'dots' */
.dots {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para elementos com classe 'dot' */
.dot {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    margin: 0 8px;
    background-color: rgb(126, 126, 126);
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: var(--color-dark3);
}

.text{
    align-items: center;
    text-align: justify;
    padding: 2.5%;
    margin: 2.5%;
    background-color: var(--color-coffe-colab);
    font-size: 1vw;
}

.content-equipe{
    display: flex;
    flex-direction: row;
}

.content-equipe img{
    width: 30vw;
    margin-left: 5vw;
}

.content-equipe p{
    width: 47vw;
}

/* Estilos para dispositivos com largura mínima de 720px */
@media screen and (max-width: 725px) {
    .text{
        font-size: 2.3vw;
    }

    .dot {
        width: 4vw;
        height: 4vw;
        min-width: 10px;
        min-height: 10px;
        margin: 0 4px;
    }

    .content-equipe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-equipe img{
        width: 38vw;
        margin-left: 0vw;
    }
    
    .content-equipe p{
        width: 47vw;
    }
}
